<?xml version="1.0"?>
<configuration>

	<appSettings>
    <!-- 项目标识，区分session-->
    <add key="UserLoginSign" value="natureMgr源码"/>

    
    <!-- 各种资源的网址（js、css、元数据、数据访问、权限等），不加斜杠-->
    <add key="ResourceURL" value="http://.517.cn"/>
    <!-- sso端的访问网址，不加斜杠-->
		<add key="SSOURL" value="http://.517.cn"/>
		<!-- 设置统一分配的网站应用ID-->
		<add key="WebappID" value="23"/>
		<!-- 网站应用端加密解密app端票据的密钥-->
		<add key="AppKey" value="5d4u1e2d"/>
		<!-- True：输出调用步骤；False：不输出调用步骤-->
		<add key="Debug" value="True"/>

	</appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
